[Unit]
Description=Create an SSH tunnel for remote port forwarding for <DESC>
After=network.target

[Service]
Type=simple
User=<USER>
Group=<GROUP>
ExecStart=/usr/bin/ssh <REMOTE_SERVER> -p 22 -vvv -N -o ServerAliveInterval=30 -o ExitOnForwardFailure=yes -R *:<REMOTE_PORT>:localhost:<LOCAL_PORT>
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

